@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "Bitsumishi";
  src: url("../public/fonts/BITSUMIS.ttf");
}
/*root {
  font-family: font-Bitsumishi, sans-serif;
  width: 100%;
  height: auto;
}*/
#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply bg-gradient-to-r from-bgGradColor1 from-100% to-bgGradColor2 to-100% text-textColors;
}

@layer components {
  .bg-colors {
    @apply bg-gradient-to-r from-[#40454A] from-100% to-[#202329] to-100%;
  }
  .rounded-head {
    background: #2e3339;
    border: 2px solid;
    background-image: #2e3339,
      linear-gradient(144.06deg, #40454a 16.19%, #202329 82.15%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 4px 4px 12px 0px #0000004d;
    box-shadow: -4px -4px 12px 0px #7a869733;
    @apply w-[48px] h-[48px] bg-colors rounded-full flex items-center justify-center box-border;
  }
}
.border-image-source {
  background: linear-gradient(141.82deg, #0f1314 14.93%, #121617 82.73%);
  border: 5px solid transparent;
  background-image: linear-gradient(141.82deg, #0f1314 14.93%, #121617 82.73%),
    linear-gradient(141.17deg, #41464b 16.39%, #1a1b1f 86.27%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.border-lecture {
  border: 2px solid;

  border-image: linear-gradient(180deg, #000000 2.78%, #383b46 100%);
}
.level-lecture {
  background: linear-gradient(90deg, #ff611a 0%, #cb340d 82.68%);
}

.go-left {
  background: #1a1c20;
  border: 3px solid;
  padding: 10px;
  background-image: #1a1c20,
    linear-gradient(
      117.52deg,
      rgba(229, 67, 0, 0.44717) -3.67%,
      rgba(253, 96, 30, 0.0001) 50%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.go-right {
  background: #1a1c20;
  border: 3px solid;
  padding: 10px;
  background-image: #1a1c20,
    linear-gradient(
      117.52deg,
      rgba(229, 67, 0, 0.44717) -3.67%,
      rgba(253, 96, 30, 0.0001) 50%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.start-stop-button {
  /*background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%);*/
  /*border: 5px solid;
  border-image: linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%);
  background-origin: border-box;
  background-clip: padding-box, border-box;*/
  border: 3px solid transparent;
  padding: 15px;
  /*border-radius: 100%;*/
  background-image: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%),
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.start-shadow {
  box-shadow: 0px -1px 3px 0px #f974399e inset;
  box-shadow: 1px 1px 3px 0px #720e00c4 inset;
}
.border-arrow {
  border: 2px solid;

  background-image: linear-gradient(143.75deg, #41464b 4.51%, #191c21 82.12%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.border-heart {
  background: #2a2e34;
  border: 2px solid;

  background-image: #2a2e34,
    linear-gradient(143.75deg, #41464b 4.51%, #191c21 82.12%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.line {
  box-shadow: 0px 1px 2px 0px #00000097 inset;
}
.play-for-list {
  width: 29.79px;
  height: 29.79px;
  border: 1.5px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-for-list-stop {
  border: 1.5px solid;
  background-image: linear-gradient(141.54deg, #41464b -17.01%, #0e1013 81.87%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.play-for-list-start {
  background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%);
  border: 1.5px solid;

  border-image: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%),
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.list-style {
  border-radius: 37px 37px 0px 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;

  background: linear-gradient(146.6deg, #1f2328 12.49%, #17191d 81%);
  border: 3px solid;

  background-image: linear-gradient(146.6deg, #1f2328 12.49%, #17191d 81%),
    linear-gradient(158.33deg, #30353d -3.63%, #0e1013 83.87%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.buttonToggle {
  background: #111216;
  border: 2px solid;

  background-image: #111216,
    linear-gradient(180deg, #000000 2.78%, #383b46 100%),
    linear-gradient(
      273.09deg,
      rgba(255, 97, 26, 0.5) 1.28%,
      rgba(255, 97, 26, 0) 40.17%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 10px 100px 100px 10px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
}

.border-volume {
  background: #111216;

  border: 2px solid transparent;

  background-image: #111216,
    linear-gradient(180deg, #000000 2.78%, #383b46 100%);
}

.heart-style {
  background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%);
}
